<a href="https://colab.research.google.com/github/Hawkgrip/Python/blob/main/Basic_Python_Statements%2C_IO_and_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# About this notebook
<p style="text-align: justify"> Here, you will learn the basic statements of python and function. Some codes will be given for demonstration. Some other codes, you will do as excercise.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, submit the notebook (.ipynb file) to corresponding Intern through Microsoft Teams</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing your ID at the beigining of the file name.</p>
<p> 3. Other file format will not be accepted.</p>

# User Input

In [ ]:
a = 32
print(a)

32

In [ ]:
inpt = input()
print(inpt)

Hello
Hello

In [ ]:
c = input('Enter a desired text: ') # always returns string
print('The entered text is '+ c)
print(type(c))

Enter a desired text: Hello World
The entered text is Hello World
<class 'str'>

In [ ]:
cell = int(input('Insert a digit: ')) # returns string but converted to int
print('The result is', a+21)
print(type(cell))

Insert a digit: 5
The result is 53
<class 'int'>

In [ ]:
while True:
  a = input('Enter your Birth Year: ')
  if a.isdigit():
    print('You are ' + str(2023-int(a)) + ' years old')
    print(2023-int(a))
    break
  print('WRONG INPUT')

Enter your Birth Year: 1999
You are 24 years old
24

# if statement
There can be zero or more elif parts, and the else part is optional. The keyword ‘elif’ is short for ‘else if’

In [ ]:
# indent
i = 2
if i > 5: # () not required, {} not required
  print('All Good')
  print('fine')
else:
  print('bad, naada')
  print('not okay') # will be executed in each run

bad
not okay

In [ ]:
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: -2
Negative changed to zero

<b>Exercise 1:</b> Input a course mark (0-100) from user and use the <b>if</b> statement to print corresponding grade.

In [ ]:
# code here

Mark = int(input("Please enter an integer: "))
if Mark < 0:
    Mark = 0
    print('Failed to pass')
elif Mark == 0:
    print('Zero')
elif Mark < 50:
    print('Your grade is E, Retake your Exam')
elif Mark < 60:
    print('Your grade is D,  Retake your Exam')
elif Mark > 70:
    print('Your grade is C')
elif Mark > 80:
    print('Your grade is B')
elif Mark > 90:
    print('Your grade is A, excellent result')
elif Mark > 95:
  print('Distinction')

Please enter an integer: 55
Your grade is D,  Retake your Exam

# for statement
<p style="text-align: justify">The for statement in Python differs a bit from what you may be used to in C or C++. Rather than always giving the user the ability to define both the iteration step and halting condition, Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.</p>

In [ ]:
# Measure some strings:
words = ['cat', 'window', 'dhaka', 'jack','elephant','truck']
for t in words:
    print('the word is:',t)

the word is: cat
the word is: window
the word is: dhaka
the word is: jack
the word is: elephant
the word is: truck

In [ ]:
words = ['cat', 'window', 'dhaka', 'jack','dog']
for alpha in range(len(words)):
    print('the word is:',words[alpha])

the word is: cat
the word is: window
the word is: dhaka
the word is: jack
the word is: dog

In [ ]:
digits = [10, 51, 13, 8,71]

for numb in digits:
    print(numb-9)

1
42
4
-1
62

### The range() Function
If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions:

In [ ]:
# repeated for 0 to 4
# for(i=0;i<5;i++)
for width in range(0,100,5):
    print(width)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

<p style="text-align: justify">The given end point is never part of the generated sequence; range(10) generates 10 values, the legal indices for items of a sequence of length 10. It is possible to let the range start at another number, or to specify a different increment (even negative; sometimes this is called the ‘step’):</p>

In [ ]:
list(range(100, 105))

[100, 101, 102, 103, 104]

In [ ]:
list(range(0, 50, 3))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [ ]:
list(range(100, 80, -5))

[100, 95, 90, 85]

In [ ]:
list(range(-10, 101, 30))

[-10, 20, 50, 80]

In [ ]:
numbers = [10,200,35,45]
for i in range(len(numbers)):
    print(i, numbers[i])

0 10
1 200
2 35
3 45

In [ ]:
for i in range(2,100,5):
    print(i,end=', ')

2, 7, 12, 17, 22, 27, 32, 37, 42, 47, 52, 57, 62, 67, 72, 77, 82, 87, 92, 97,

<b>Exercise 2:</b> Print all the even numbers between 0 to 100 using <b>for loop</b> and <b>range</b>.

In [ ]:
# code here
strt = int(input('Enter start point: '))
fnsh = int(input('Enter finsih point: '))
rng = int(input('Insert your desired range: '))
for i in range(strt,fnsh,rng):
    print(i,end=', ')

Enter start point: 10
Enter finsih point: 30
Insert your desired range: 3
10, 13, 16, 19, 22, 25, 28,

In [ ]:
country = "bangladesh"
for index in country:
    print(index,end=' ')

b a n g l a d e s h

# Functions
<p style="text-align: justify">The keyword def introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.</p>

In [ ]:
def operate(a, b):
  print(str(a) + ' + ' + str(b) + ' = ' + str(a+b))
  print(str(a) + ' - ' + str(b) + ' = ' + str(a-b))
  print(str(a) + ' x ' + str(b) + ' = ' + str(a*b))
  print(str(a) + ' / ' + str(b) + ' = ' + str(a/b))

In [ ]:
operate(1000,625)

1000 + 625 = 1625
1000 - 625 = 375
1000 x 625 = 625000
1000 / 625 = 1.6

In [ ]:
operate(100,2)

100 + 2 = 102
100 - 2 = 98
100 x 2 = 200
100 / 2 = 50.0

In [ ]:
def fib(n):    # write Fibonacci series up to n
    lst = [0,1]
    a, b = 0, 1
    while True:
        #print(a, end=' ')
        a, b = b, a+b
        if b < n:
          lst.append(b)
        else:
          break
        #print()
    return lst

In [ ]:
# Now call the function we just defined:
r = fib(1000)
print(r)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [ ]:
# define method
def addnumbers(a, b): # add numbers and return result
    # logic
    c = a + b
    return c

In [ ]:
addnumbers('2','33')

'233'

In [ ]:
y = addnumbers('Aritificial ', 'Inteligence 9') # use or call method
print(y)

Aritificial Inteligence 9

In [ ]:
addnumbers([100,77], [661])

[100, 77, 661]

In [ ]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
        sum = sum + n
    return sum

In [ ]:
addValues([])

0

In [ ]:
addValues((9,7,5,-3))

18

In [ ]:
v = [5, 4,12, 7,5,13,15,60,-20]
addValues(v)

101

In [ ]:
v = [5, 4,12, 7, 5, 4,12, 7, 5, 4,12, 7,2]
addValues(v)

86

In [ ]:
# method/function
def multiTable(n, r=20):
    for i in range(1,r+1,2):
        print("{}x{}={}".format(n,i,n*i))

In [ ]:
multiTable(5)

5x1=5
5x3=15
5x5=25
5x7=35
5x9=45
5x11=55
5x13=65
5x15=75
5x17=85
5x19=95

In [ ]:

multiTable(13)

13x1=13
13x3=39
13x5=65
13x7=91
13x9=117
13x11=143
13x13=169
13x15=195
13x17=221
13x19=247

<b>Exercise 3:</b> Define a <b>method/function</b> which will take two lists of numbers and returns a list (sum of two lists)
<p>Example:<br>
    Input: [3,4,5,1] and [6,7,2,8]<br>
    output: [9,11,7,9]</p>

In [ ]:
# code here
List1 = [3,4,5,1]
List2 = [6,7,2,8]

print ("List 1 : " + str(List1))
print ("List 2 : " + str(List2))

new_list = []
for i in range(0, len(List1)):
    new_list.append(List1[i] + List2[i])

print ("New list is :" + str(new_list))

List 1 : [3, 4, 5, 1]
List 2 : [6, 7, 2, 8]
New list is :[9, 11, 7, 9]

<b> Exercise 4:</b> Write a <b>method</b> which will take the <b>full name</b> as input and return both the first name and last name.
<p>Example:<br>
    Input: Arafat Rahman Sunny<br>
    Output: First name: Arafat, Last name: Sunny</p>

In [ ]:
# code here
name = input("Enter your name: ")
s=name.split()
print("Name: "+s[0]+" "+s[-1])

Enter your name: Akash Moula Choudhury
Name: Akash Choudhury

# Output Formatting (Optional)
Go to the [link](https://docs.python.org/3/tutorial/inputoutput.html#formatted-string-literals) and practice the codes below.

In [ ]:
# code here